<div class="footer">
    <div class="footer-container">
        <p class="footer-texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores eum expedita voluptas iste ratione obcaecati inventore sint, sapiente voluptatem placeat corrupti explicabo suscipit sed quod? Dolorem doloremque modi quisquam. Inventore.
        </p>
        <ul class="footer-contato">
            <li><a href="#">Contato@consulta.me</a></li>
            <li><a href="#">(21) 96542-8521</a></li>
            <li><a href="#">Nosso Instagram</a></li>
            <li><a href="#">Nosso Linkedin</a></li>
        </ul>
        <p class="footer-copy">Consulta.me Alguns direitos reservados.</p>
    </div>
</div>
